.logo-container {
    z-index: 0;
    width: 45%;
    height: 70%;
    position: absolute;
    top: 10%;
    right: 0%;
    left: auto;
    max-height: 80%;
    display: table-cell;
    vertical-align: middle;
  
    .solid-logo {
      position:relative;
      transform: rotateZ(0deg) !important;
      z-index: 1;
      margin: auto;
      
    }
  }
  