
  .solid-logo {
    animation: backInDown 2.5s 1.5s;
  }

  @media screen and (max-width: 1200px) {
    .solid-logo{
        animation: backInLeft 2.5s 1.5s;
        width: 430px;
        height: 430px;
    }
    
  }