.page {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  
  .top-tags {
    bottom: auto;
    top: 10px;
  }
  
  .tags {
    color: #ffffff;
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    left: 85px;
    font-size: 15px;
    font-family: 'Helvetica Neue' ;
  }
  
  .container {
    width: 100%;
    display: flex;
    will-change: contents;
    height: 100%;
    min-height: 566px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: stretch;
    opacity: 0;
    margin: 0 auto;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 0.5s;
  }
  
  .container.contact-page,
  .container.about-page,
  .container.portfolio-page {
    
      h1 {
        font-size: 53px;
        font-family: 'Helvetica Neue';
        color: #fff;
        font-weight: 400;
        margin-top: 30px;
        position: relative;
        text-align: center;
  
      }
  
      p {
        font-size: 18px;
        color: #fff;
        padding: 2px;
        font-family: 'Helvetica Neue';
        font-weight: 300;
        max-width: auto;
        animation: pulse 1s;
        &:nth-of-type(1) {
          animation-delay: 2.0s;
        }
        &:nth-of-type(2) {
          animation-delay: 2.3s;
        }
        &:nth-of-type(3) {
          animation-delay: 2.6s;
        }
        &:nth-of-type(4) {
          animation-delay: 2.9s;
        }
        &:nth-of-type(5) {
          animation-delay: 3.2s;
        }
      }
  
    .text-zone {
      position: absolute;
      left: 10%;
      top: 5%;
      width: 50%;
      vertical-align: middle;
      display: table-cell;
      max-height: 100%;
      animation: fadeInLeft 2s;
      padding-bottom: 3%;
    }
  
    
  }
  
  @media screen and (max-width: 1200px) {
    .page { 
      position: initial;
    }

    .home-page{
      position: relative;
      width: 88%;
      left: 10%;
      top: 10%;
      display: grid;
      align-content: center;

      .text-zone {
        width: 90%;

        h1{
          font-size: 40px;
          margin-top: 20px;
        }
      }

      .logo-container{
        left: 3%;
        position: relative;
      }
    }
  
    .container {
      position: relative;
      left:5%;
      
      &.contact-page{
        .text-zone {
          position: relative;
          transform: none;
          width: 95%;
          display: block;
          padding: 20px;
          box-sizing: border-box;
          top:3%;
          left: 4%;
          
        }
      }

      &.about-page,
      &.portfolio-page {
        .text-zone {
          position: relative;
          transform: none;
          width: 100%;
          height: 100%;
          display: block;
          padding: 20px;
          box-sizing: border-box;
          top:15%;
          left: 0%;
          
          
        }
      }
  
      &.portfolio-page {
        width: 100%;
        height: 140%;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        position: absolute;
        left: 10%;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: center;
  
        h1.page-title {
          margin-left: 20px;
          margin-top: 20px;
        }
  
        .image-box {
          height: 200px;
          max-width: calc(100% - 10px);
        }
      }
    }
  
    .stage-cube-cont {
      position: initial;
      width: 100%;
      height: 100%;
      overflow: visible;
      padding-top: 15%;
      padding-bottom: 100%;
      animation: backInDown 5s;
    }
  }