.page {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  
  .top-tags {
    bottom: auto;
    top: 10px;
  }
  
  .tags {
    color: #ffffff;
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    left: 85px;
    font-size: 15px;
    font-family: 'Helvetica Neue' ;
  }
  
  .container {
    width: 100%;
    display: flex;
    will-change: contents;
    height: 100%;
    min-height: 566px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: stretch;
    opacity: 0;
    margin: 0 auto;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
  }
  
  .container.contact-page,
  .container.about-page,
  .container.portfolio-page {
    
      h1 {
        font-size: 53px;
        font-family: 'Helvetica Neue';
        color: #fff;
        font-weight: 400;
        margin-top: 0;
        position: relative;
        margin-bottom: 40px;
        left: 20px;
  
      }
  
      p {
        font-size: 17px;
        color: #fff;
        padding: 2px;
        font-family: 'Helvetica Neue';
        font-weight: 300;
        max-width: auto;
        animation: pulse 1s;
        &:nth-of-type(1) {
          animation-delay: 1.0s;
        }
        &:nth-of-type(2) {
          animation-delay: 1.3s;
        }
        &:nth-of-type(3) {
          animation-delay: 1.6s;
        }
        &:nth-of-type(4) {
          animation-delay: 1.9s;
        }
      }
  
    .text-zone {
      position: absolute;
      left: 10%;
      top: 50%;
      transform: translateY(-50%);
      width: 50%;
      vertical-align: middle;
      display: table-cell;
      max-height: 90%;
    }
  
    .text-animate-hover {
      &:hover {
        color: rgb(0, 0, 0);
      }
    }
  }
  
  @media screen and (max-width: 1200px) {
    .page {
      position: initial;
    }

    .home-page{
      position: relative;
      width: 100%;
      left: 10%;
      top: 20%;
      display: grid;
      align-content: center;

      .text-zone {
        width: 100%;

        h1{
          font-size: 35px;
        }
      }

      .logo-container{
        left: 7%;
        position: relative;
      }
    }
  
    .container {
      position: absolute;
      left:18%;
      
      &.contact-page,
      &.about-page,
      &.portfolio-page {
        .text-zone {
          position: initial;
          transform: none;
          width: 100%;
          display: block;
          padding: 20px;
          box-sizing: border-box;
        }
      }
  
      &.portfolio-page {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
  
        h1.page-title {
          margin-left: 20px;
          margin-top: 20px;
        }
  
        .image-box {
          height: 200px;
          max-width: calc(50% - 10px);
        }
      }
    }
  
    .stage-cube-cont {
      position: initial;
      width: 100%;
      height: 0%;
      overflow: visible;
    }
  }