.page {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  
  .container {
    width: 100%;
    display: flex;
    will-change: contents;
    height: 100%;
    min-height: 566px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: stretch;
    opacity: 0;
    margin: 0 auto;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 0.5s;
  }
  
  
  
  @media screen and (max-width: 1200px) {
    .page { 
      position: relative;
      height: 100%;
      left: 6%;
    }

    
    
  }