.page {
  width: 100%;
  }
  
  .container {
    width: 100%;
    display: flex;
    will-change: contents;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    opacity: 0;
    margin: 0 auto;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 0.5s;
    align-items: center;
    
  }
