.contact-form {
  width: 100%;
  margin-top: 20px;

  ul {
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-bottom: 10px;
      opacity: 0;
      overflow: hidden;
      display: flex;
      clear: both;
      position: relative;
      animation: fadeInUp 1s 2s;
      animation-fill-mode: forwards;
    }

    li.half {
      width: 49%;
      margin-left: 2%;
      float: left;
      clear: none;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  input[type='text'],
  input[type='email'] {
    width: 100%;
    border: 0;
    background: #115173;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 0 20px;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    border: 0;
    background: #115173;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    min-height: 150px;
  }

  .flat-button{
    font-size: 14px;
    background-color: transparent;
    font-weight: 400;
    letter-spacing: 3px;
    font-family: sans-serif;
    border: 1px solid yellow;
    text-decoration: none;
    padding: 19px 18px;
    margin-top: 25px;
    float: left;
    animation: fadeIn 2s 2.5s backwards;
    white-space: nowrap;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
  
    &:hover{
      background-color: yellow;
      color: rgb(0, 0, 0);
    }

  }
}

.contact-page{
  .text-zone{
    p{
      font-family: 'Helvetica Neue', cursive; 
      font-size: 14px;
      
    }
  }
}

.leaflet-container {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: backInRight 1s 2s;
  animation-fill-mode: forwards;
}

.info-map {
  position: absolute;
  background: #115173;
  top: 35%;
  right: 5%;
  width: 320px;
  padding: 30px;
  color: yellow;
  font-family: 'Helvetica Neue';
  font-size: 20px;
  font-weight: 300;
  opacity: 0;
  animation: backInRight 2s 1.5s;
  animation-fill-mode: forwards;
  

  &:hover{
    background-color: #000000;
    
  }

  span {
    font-size: 16px;
  }
}

@media screen and (max-width: 1200px) {
  
  .container.contact-page h1{
    top:0%;
  }
  .container.contact-page{

    .text-zone{
      top:10%;
    }
    
  }
  
  .map-wrap {
    float: none;
    margin: 0;
    width: 100%;
    height: 400px;
  }
  
  .info-map {
    position: relative;
    font-family: 'Helvetica Neue';
    left: 3%;
    top:15%;
  }
}