.nav-bar {
  background: rgba(0, 0, 0, 0.95);
    width: 70px;
    display: flex;
    height: 100vh;
    z-index: 3;
    flex-direction: column;
    justify-content: space-between;

    .logo {
        img{
            display: block;
            margin: auto;
            width: 70px;
            height: 62px;             
        }
    }

    nav {
      display: block;
      text-align: center;

    
        a {
          font-size: 22px;
          display: block;
          line-height: 51px;
          padding: 5px;
          height: 51px;
          position: relative;
          text-decoration: none;
    
          i {
            transition: all 0.3s ease-out;
          }

          svg {
            color:#fff;
          }
    
          &:hover {
            color: #ffffff;
    
            svg {
              opacity: 0;
            }
    
            &:after {
              opacity: 1;
            }
          }
    
          &:after {
            content: '';
            font-size: 8px;
            letter-spacing: 2px;
            position: absolute;
            display: block;
            width: 100%;
            text-align:inherit;
            top: 15%;
            opacity: 0;
            -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
            color: #00d4ff;
          }
    
          &:first-child {
            &::after {
              content: 'HOME';
            }
          }
        }
    
        a.about-link {
          &::after {
            content: 'ABOUT';
          }
        }
    
        a.contact-link {
          &::after {
            content: 'CONTACTS';
          }
        }
    
        a.project-link {
          &::after {
            content: 'PROJECTS';
          }
        }
        
        a.certificate-link {
          &::after {
            content: 'CERTIFICATE';
          }
        }
      }
    
      ul {
        bottom: 20px;
        width: 100%;
        padding: 0;
        list-style: none;
        text-align: center;
        margin: 0;
    
        li {
          a {
            padding: 5px 0;
            display: block;
            font-size: 15px;
            line-height: 16px;
          }

          svg{
            color: #fff;
          }
    
          &:hover {
            svg{
              color: #00d4ff;
            }
            
          }
        }
      }
    }
    
    
    @media screen and (max-width: 1200px){
        .nav-bar {
          flex-direction: row;
          width: 100%;
          display: flex;
          height: 62px;
          z-index: 3;

        ul{
            display: none;
        }
    
         nav {
          display: flex;
          flex-direction: row;
          flex-grow: 1;
          flex-wrap: wrap;
          align-content: center;
          justify-content: space-evenly;
          align-items: center;
          background: rgb(5, 5, 5);
          height: 62px;
          margin: 0;
          z-index: 2;
    
          a {
            
            display: flex;
            justify-content: center;
            align-items: center;


            &:after {
              content: '';
              font-size: 10px;
              letter-spacing: 0px;
              height: fit;
            }
            
          }

        }
    }
}